@font-face {
    font-family: 'LXGW WenKai Mono TC';
    src: url("/resources/images/LXGWWenKaiMonoTC-Regular.ttf");
}

.root{
    -fx-background-color: #212121;
}

.text{
    -fx-font-family: 'LXGW WenKai Mono TC';
}

#functionText{
    -fx-font-family: 'LXGW WenKai Mono TC';
    -fx-font-size: 35;
}

#yesnoText{
    -fx-font-family: 'LXGW WenKai Mono TC';
    -fx-font-size: 40;
}

#confirmMessage{
    -fx-font-family: 'LXGW WenKai Mono TC';
    -fx-font-size: 50;
}

#Button{
    -fx-background-color: #212121;
}

#Button:hover{
    -fx-cursor: hand;
}

#textButton{
    -fx-background-color: #212121;
}

#textButton:hover{
    -fx-background-color: #757575;
    -fx-cursor: hand;
}

#yesButton{
    -fx-background-color: #212121;
    -fx-border-color: #d67e78;
    -fx-border-width: 2;
}

#yesButton:hover{
    -fx-background-color: #dfdfdf;
    -fx-cursor: hand;
}

#yesButton:pressed{
    -fx-background-color: #cacaca;
}

#noButton{
    -fx-background-color: #212121;
}

#noButton:hover{
    -fx-background-color: #757575;
    -fx-cursor: hand;
}

#noButton:pressed{
    -fx-background-color: #666666;
}